<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.OneCode.Utilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG8.Supercharger.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG8.Supercharger.Features.AutoText.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Microsoft.OneCode.SampleBrowserUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Microsoft.OneCode.Utilities.Properties.Settings>
            <setting name="CodeSnippetsLocation" serializeAs="String">
                <value>C:\Users\johnh\Documents\Visual Studio 2015\Samples</value>
            </setting>
        </Microsoft.OneCode.Utilities.Properties.Settings>
        <BG8.Supercharger.Settings>
            <setting name="JustUpdatedConsumedForVersion" serializeAs="String">
                <value>1.1.0.830</value>
            </setting>
            <setting name="TBSHOOT_FBVER_OUT_NAME" serializeAs="String">
                <value>1.1.0.832</value>
            </setting>
            <setting name="TBSHOOT_TL_OUT_COUNT" serializeAs="String">
                <value>29</value>
            </setting>
            <setting name="TBSHOOT_TL_AD" serializeAs="String">
                <value>True</value>
            </setting>
        </BG8.Supercharger.Settings>
        <BG8.Supercharger.Features.AutoText.Settings>
            <setting name="MigrationToDataV2Done" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MigrationToDataV3Done" serializeAs="String">
                <value>True</value>
            </setting>
        </BG8.Supercharger.Features.AutoText.Settings>
        <Microsoft.OneCode.SampleBrowserUI.Properties.Settings>
            <setting name="DownloadLocation" serializeAs="String">
                <value>C:\Users\johnh\Documents\Visual Studio 2015\Samples</value>
            </setting>
            <setting name="GitHubCloneLocation" serializeAs="String">
                <value>C:\Users\johnh\Documents\Visual Studio 2015\Projects\Github</value>
            </setting>
        </Microsoft.OneCode.SampleBrowserUI.Properties.Settings>
    </userSettings>
</configuration>